/* Import Fonts */
/* @import url("../../assets/fonts/Avenir-Light/style.css"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap");
/* Main Styling */
.about-container {
  width: 100%;
  height: 100vh;
  background-color: #1d1b26;
  display: flex;
  color: white;
  position: relative;
  /* font-family: "Avenir"; */

  overflow: hidden;
}

.image-container__about {
  width: 45vw;
  height: 100%;
  /* border: 3px solid red; */
  background-image: url("https://i.ibb.co/8D0LnTJ/IMG-4774-1.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.image-container__about::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, #1d1b26, transparent);
  top: 0;
  left: 0;
}

.about-text__container {
  width: 55vw;
  height: 100vh;
  /* border: 3px solid green; */
}
.about-text__container h2 {
  margin-top: 6rem;
  font-size: calc(2vw + 2rem);
  padding: 0.5rem 4rem;
  letter-spacing: 2px;
  font-family: "Montserrat Alternates", sans-serif;
}
.about-text__container p {
  font-size: calc(0.8vw + 0.5rem);
  padding: 0.5rem 3rem;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-family: "Avenir";
  letter-spacing: 1px;
}
.about-text__container .resume-download {
  text-decoration: none;
  padding: 0.7rem 2rem;
  border-radius: 3px;
  background-color: brown;
  color: white;
  letter-spacing: 1.5px;
  margin: 5rem;
}
.about-text__container .resume-download:hover {
  background-color: rgba(165, 42, 42, 0.852);
}

ul.social-links__about--container {
  display: flex;
  /* border: 3px solid blue; */
  width: 100%;
  height: 5rem;
  margin-top: 7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social-links__about--container a {
  list-style: none;
  padding: 1rem;
  font-size: 1.3rem;
  /* cursor: pointer; */
  text-decoration: none;
}
.social-links__about--container a:last-of-type {
  margin-right: 5rem;
}
.social-links__about--container a:hover {
  color: rgb(70, 153, 247);
}
/* Media Queries */

@media screen and (max-width: 750px) {
  .about-container {
    position: relative;
    flex-direction: column;
  }
  .about-text__container {
    z-index: 1;
    width: 100vw;
  }
  .image-container__about {
    position: absolute;
    width: 100vw;
  }
  .image-container__about::before {
    background: linear-gradient(to bottom, #1d1b26, transparent);
    width: 100%;
    height: 100%;
  }
  ul.social-links__about--container {
    margin-top: 6vh;
  }
  .social-links__about--container a:last-of-type {
    margin-right: 2rem;
  }
}
