.container-cloud {
  width: 100%;
  min-height: 100%;
  background-color: #101b24;
  padding-top: 10rem;
  position: relative;
}
.bird-1,
.bird-2 {
  fill: rgb(255, 174, 0);
}
.para-one {
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}
.description--journey-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.3;
}
