.main-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 4rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
/* .main-logo img {
  height: 100%;
  object-fit: cover;
} */
@media screen and (max-width: 750px) {
  .main-logo {
    margin-top: 2rem;
  }
}
