/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
/* Styles */
.import-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  /* opacity: 0; */
}

.useeffect-text__import {
  font-size: calc(2vw + 2rem);
  color: #a9dc76;
  position: absolute;
  top: 25%;
  left: 20%;
  font-family: "Ubuntu", sans-serif;
}
.import-text__import {
  color: hsl(345, 97%, 59%);
  font-size: calc(1.5rem + 2vw);
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  top: 10%;
  left: 3%;
}
.from-text__import {
  color: #fc3265;
  font-size: calc(1.5rem + 2vw);
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  top: 10%;
  left: 38%;
}
.memory-text__import {
  font-size: calc(1.5rem + 2vw);
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
  position: absolute;
  top: 10%;
  left: 17%;
}
.brainpath-text__import {
  font-size: calc(1.5rem + 2vw);
  font-family: "Ubuntu", sans-serif;
  color: #ffae00;
  position: absolute;
  top: 10%;
  right: 4%;
}
.parenthesis-text__import {
  color: #ff9d00;
}
.parenthesis__single-text__import {
  color: #fd0505;
}
.dependencyarray-text__import {
  color: #00b5fd;
}
.dependency-text__import {
  color: whitesmoke;
}
.arrowfunc-text__import {
  color: #fc3265;
}
.semicolon-text__import {
  color: grey;
}
.function-wrapper__import {
  margin: 4rem;
  opacity: 0;
}
.curlyleft-text__import,
.curlyright-text__import {
  color: rgb(231, 218, 176);
}
.anime-import {
  opacity: 0;
}
/* Media Queries */
@media screen and (max-width: 1050px) {
  .useeffect-text__import {
    font-size: calc(2vw + 1.5rem);
  }
  .import-text__import {
    font-size: calc(1rem + 2vw);
    top: 13%;
    left: 3%;
  }
  .from-text__import {
    font-size: calc(1rem + 2vw);

    top: 13%;
    left: 38%;
  }
  .memory-text__import {
    font-size: calc(1rem + 2vw);
    top: 13%;
    left: 17%;
  }
  .brainpath-text__import {
    font-size: calc(1rem + 2vw);

    top: 13%;
    right: 4%;
  }
}
@media screen and (max-width: 850px) {
  .useeffect-text__import {
    font-size: calc(1.5vw + 1.5rem);
  }
  .import-text__import {
    font-size: calc(1rem + 1.5vw);
    top: 15%;
    left: 3%;
  }
  .from-text__import {
    font-size: calc(1rem + 1.5vw);

    top: 15%;
    left: 38%;
  }
  .memory-text__import {
    font-size: calc(1rem + 1.5vw);
    top: 15%;
    left: 17%;
  }
  .brainpath-text__import {
    font-size: calc(1rem + 1.5vw);

    top: 15%;
    right: 4%;
  }
}
@media screen and (max-width: 650px) {
  .useeffect-text__import {
    font-size: calc(2vw + 1.5rem);
    top: 30%;
  }
  .import-text__import {
    font-size: calc(1rem + 4vw);
    top: 7%;
    left: 5%;
  }
  .from-text__import {
    font-size: calc(1rem + 4vw);

    top: 7%;
    left: 70%;
  }
  .memory-text__import {
    font-size: calc(1rem + 4vw);
    top: 7%;
    left: 30%;
  }
  .brainpath-text__import {
    font-size: calc(1rem + 4vw);

    top: 20%;
    right: 10%;
  }
}
@media screen and (max-width: 650px) {
  .useeffect-text__import {
    font-size: calc(2vw + 1.5rem);
    top: 30%;
  }
  .import-text__import {
    font-size: calc(1rem + 4vw);
    top: 10%;
    left: 5%;
  }
  .from-text__import {
    font-size: calc(1rem + 4vw);

    top: 10%;
    left: 70%;
  }
  .memory-text__import {
    font-size: calc(1rem + 4vw);
    top: 10%;
    left: 30%;
  }
  .brainpath-text__import {
    font-size: calc(1rem + 4vw);

    top: 20%;
    right: 3%;
  }
  .function-wrapper__import {
    margin-left: 3rem;
  }
}
