:root {
  --primary-color: #101b24;

  --secondary-color: #ba135d;

  --tertiary-color: white;
}
.home-container {
  width: 100%;
  min-height: 100vh;
}
#showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--primary-color);
}

/* Section Journey */
#journey1 {
  width: 100%;
  height: 100%;
}
#journey2 {
  width: 100%;
  height: 100%;
  /* background-color: green; */
  /* border: 5px solid blue; */
}
#journey3 {
  width: 100%;
  min-height: 100%;
  /* background-color: green;*/
  /* border: 5px solid blue; */
}
#journey4 {
  width: 100%;
  min-height: 100%;
  /* background-color: green; */
  /* border: 5px solid blue; */
}
#journey5 {
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-color);
  /* border: 5px solid blue; */
}
#journey6 {
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-color);
  /* border: 5px solid blue; */
}
#journey7 {
  width: 100%;
  min-height: 100%;
  /* background-color: var(--primary-color); */
  /* border: 5px solid blue;*/
}
#journey8 {
  width: 100%;
  height: 100%;
  /* background-color: var(--primary-color); */
  /* border: 5px solid blue; */
}
#journey9 {
  width: 100%;
  height: 100%;
  /* background-color: var(--primary-color); */
  /* border: 5px solid blue; */
}
#journey10 {
  width: 100%;
  height: 100%;
  /* background-color: var(--primary-color); */
  /* border: 5px solid blue; */
}
#journey11 {
  width: 100%;
  height: 100%;
  /* background-color: var(--primary-color); */
  /* border: 5px solid blue; */
}
