:root {
  --primary-color: #101b24;
  /* --primary-color: #1c1d25; */

  --secondary-color: #ba135d;
  /* --secondary-color: #7dedff; */
  --tertiary-color: white;
}
.home-container {
  width: 100%;
  min-height: 100vh;
}
#showcase {
  width: 100%;
  height: 100vh;
  position: relative;
}
div.hero {
  position: absolute;
  top: 15vh;
  left: 10vw;
  color: white;
  z-index: 1;
  transition: all 0.5s ease;
  opacity: 0;
}
div.hero .hero-name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 4rem;
  font-size: 5rem;
  letter-spacing: 5px;
}
div.hero .hero-name span {
  color: var(--secondary-color);
}
.typing-para {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5rem;
  letter-spacing: 3px;
}
@media screen and (max-width: 750px) {
  div.hero {
    left: 15vw;
    top: 15vh;
  }
  div.hero .hero-name {
    font-size: calc(5rem - 4vw);
  }
  div.hero .hero-occupation {
    font-size: calc(1.5rem - 1.5vw);
  }
  .typing-para {
    margin-left: 1rem;

    margin-bottom: 4rem;
  }
}

/* Section Journey */
#journey1 {
  width: 100%;
  height: 100%;
}
#journey2 {
  width: 100%;
  height: 100%;
  /* background-color: green; */
  /* border: 5px solid blue; */
}
#journey3 {
  width: 100%;
  min-height: 100%;
  /* background-color: green;*/
  /* border: 5px solid blue; */
}
#journey4 {
  width: 100%;
  min-height: 100%;
  /* background-color: green; */
  /* border: 5px solid blue; */
}
#journey5 {
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-color);
  /* border: 5px solid blue; */
}
#journey6 {
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-color);
  /* border: 5px solid blue; */
}
#journey7 {
  width: 100%;
  min-height: 100%;
  /* background-color: var(--primary-color); */
  /* border: 5px solid blue;*/
}
#journey8 {
  width: 100%;
  height: 100%;
  /* background-color: var(--primary-color); */
  /* border: 5px solid blue; */
}
