/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
/* Main Styles */
div.creativity-container {
  width: 100%;
  height: 100vh;
  /* border: 5px solid green; */
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.return-text__creativity {
  color: #fc3265;
  font-size: 4rem;
  position: absolute;
  top: 4%;
  left: 5%;
  font-family: "Ubuntu", sans-serif;
}
.curlyleft-text__creativity,
.curlyright-text__creativity {
  font-size: 3.5rem;
  color: #fcc03e;
  position: absolute;
  font-family: "Ubuntu", sans-serif;
}
.curlyleft-text__creativity {
  top: 5%;
  left: 22%;
}
.curlyright-text__creativity {
  bottom: 5%;
  left: 22%;
}
.creativity-span {
  color: whitesmoke;
  font-size: 1.5rem;
  position: absolute;
  right: 40%;
  top: 5%;
  font-family: cursive;
  letter-spacing: 4px;
  opacity: 0.4;
}
.creativity-span:hover {
  opacity: 1;
  text-shadow: 2px 2px 10px rgb(238, 126, 126), 2px 2px 10px rgb(238, 255, 0),
    2px 2px 10px rgb(180, 64, 64);
}
.creativity-svg {
  width: 100vw;
  height: 70vh;
}
@media screen and (max-width: 1100px) {
  .return-text__creativity {
    font-size: calc(3vw + 1rem);

    top: 5%;
    left: 5%;
  }
  .curlyleft-text__creativity,
  .curlyright-text__creativity {
    font-size: calc(2vw + 1.5rem);
  }
  .curlyleft-text__creativity {
    top: 5%;
    left: 22%;
  }
  .curlyright-text__creativity {
    bottom: 5%;
    left: 22%;
  }
  .creativity-span {
    font-size: 1.5rem;

    right: 10%;
    top: 5%;
  }
}
@media screen and (max-width: 750px) {
  .return-text__creativity {
    font-size: calc(4vw + 1rem);

    top: 5%;
    left: 5%;
  }
  .curlyleft-text__creativity,
  .curlyright-text__creativity {
    font-size: calc(3vw + 1.5rem);
  }
  .curlyleft-text__creativity {
    top: 5%;
    left: 30%;
  }
  .curlyright-text__creativity {
    bottom: 5%;
    left: 30%;
  }
  .creativity-span {
    font-size: 1.5rem;
    letter-spacing: 1px;
    right: 18%;
    top: 15%;
  }
}
@media screen and (max-width: 550px) {
  .return-text__creativity {
    font-size: calc(5vw + 1.3rem);

    top: 5%;
    left: 5%;
  }
  .curlyleft-text__creativity,
  .curlyright-text__creativity {
    font-size: calc(5vw + 1.5rem);
  }
  .curlyleft-text__creativity {
    top: 5%;
    left: 35%;
  }
  .curlyright-text__creativity {
    bottom: 5%;
    left: 35%;
  }
  .creativity-span {
    font-size: 1rem;
    letter-spacing: 1px;
    right: 25%;
    top: 17%;
  }
}
@media screen and (max-width: 430px) {
  .return-text__creativity {
    font-size: calc(5vw + 1.3rem);

    top: 15%;
    left: 5%;
  }
  .curlyleft-text__creativity,
  .curlyright-text__creativity {
    font-size: calc(5vw + 1.5rem);
  }
  .curlyleft-text__creativity {
    top: 15%;
    left: 40%;
  }
  .curlyright-text__creativity {
    bottom: 15%;
    left: 40%;
  }
  .creativity-span {
    font-size: 1rem;
    letter-spacing: 1px;
    right: 20%;
    top: 25%;
  }
}
