.three-d--elements {
  width: 100%;
  height: 100%;
  /* border: 5px solid red; */
  z-index: -1;
}
canvas {
  width: calc(70vw + 100px);
  height: calc(60vh + 100px);

  opacity: 1;
}
.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
}
.loading-img {
  width: 30vw;
  height: 50vh;
}
.loading-header {
  font-size: calc(1rem + 1vw);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
