.three-d--elements {
  width: 100%;
  height: 100%;
  /* border: 5px solid red; */
  z-index: -1;
}
canvas {
  width: calc(70vw + 100px);
  height: calc(60vh + 100px);
  background: #101b24;
  opacity: 1;
}
