/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");
/* Main Stylings */
section.projects-wrapper {
  width: 100vw;
  min-height: 100%;
  /* border: 3px solid brown; */
  background-color: #ddd;
}
div.project__container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.project__image--container {
  width: calc(25vw + 10rem);
  height: calc(30vh + 10rem);
  position: absolute;
  top: 20%;
  right: 15%;
  z-index: 1;
  opacity: 0;
  box-shadow: 0.5px 3px 5px rgba(20, 20, 20, 0.877),
    1px 3px 5px rgba(48, 47, 47, 0.712), 0.5px 3px 5px rgba(90, 89, 89, 0.774);
}
.project__image--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project__bg {
  width: calc(10vw + 10rem);
  height: calc(20vh + 5rem);
  background-color: purple;

  position: absolute;
  top: 60%;
  right: 5%;
}
.project-number {
  font-size: calc(10rem + 10vh);
  font-family: "Monoton", cursive;
  position: absolute;
  top: -40%;
  right: -10%;
  color: rgb(255, 255, 255);
}
.project__description--container {
  width: calc(25vw + 10rem);
  height: calc(40vh + 20rem);
  /* border: 1px solid black; */
  position: absolute;
  top: 16%;
  left: 4%;
  z-index: 2;
  opacity: 0;
}
.project__description--heading {
  font-size: calc(3rem + 2vw);

  padding: 0rem 3rem 1.5rem;
  color: #1d1b26;
  /* text-transform: uppercase; */
  letter-spacing: 3px;
  font-family: "Kaisei Tokumin", serif;
  margin-bottom: 4rem;
}
.live-button__project {
  padding: 1rem 1.5rem;
  margin-left: 4rem;

  background-color: rgb(240, 102, 102);
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  color: whitesmoke;
}
.project__description--para {
  padding: 3rem;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 1.5rem;
  color: #1d1b26;
}
@media screen and (max-width: 999px) {
  .project__bg {
    display: none;
  }
  .project__image--container {
    width: 90vw;
    height: 40vh;
    top: 30%;
    right: 5%;
    z-index: 0;
    opacity: 1;
    box-shadow: 0.5px 3px 5px rgba(20, 20, 20, 0.877),
      1px 3px 5px rgba(48, 47, 47, 0.712), 0.5px 3px 5px rgba(90, 89, 89, 0.774);
  }
  .project__image--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-number {
    display: none;
  }
  .project__description--container {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid black; */
    position: relative;

    z-index: 0;
    opacity: 1;
  }
  .project__description--heading {
    font-size: 7vw;
    position: absolute;
    padding: 0rem 3rem 1.5rem;
    color: #1d1b26;
    /* text-transform: uppercase; */
    letter-spacing: 3px;
    font-family: "Kaisei Tokumin", serif;
    margin-bottom: 4rem;

    top: -5%;
    left: 10%;
  }
  .live-button__project {
    padding: 0.5rem 2rem;
    margin-left: 4rem;

    background-color: rgb(240, 102, 102);
    border-radius: 5px;
    font-size: calc(1.5vw + 0.5rem);
    text-decoration: none;
    color: whitesmoke;
    position: absolute;
    bottom: 35%;
    right: 45%;
  }
  .project__description--para {
    /* padding: 3rem; */
    width: 80vw;
    height: 20vh;
    font-size: 1.2rem;
    text-align: justify;

    color: #1d1b26;
    position: absolute;
    bottom: 20%;
    left: 5%;
  }
}
@media screen and (max-width: 650px) {
  .project__bg {
    display: none;
  }
  .project__image--container {
    width: 90vw;
    height: 40vh;
    top: 22%;
    right: 5%;
    z-index: 0;
    opacity: 1;
    box-shadow: 0.5px 3px 5px rgba(20, 20, 20, 0.877),
      1px 3px 5px rgba(48, 47, 47, 0.712), 0.5px 3px 5px rgba(90, 89, 89, 0.774);
  }
  .project__image--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-number {
    display: none;
  }

  .project__description--heading {
    font-size: 7vw;
    position: absolute;
    padding: 0rem 3rem 1.5rem;
    color: #1d1b26;
    /* text-transform: uppercase; */
    letter-spacing: 3px;
    font-family: "Kaisei Tokumin", serif;
    margin-bottom: 4rem;
    width: 100%;

    top: -5%;
    left: 7%;
  }
  .live-button__project {
    padding: 0.5rem 2rem;
    margin-left: 4rem;
    background-color: rgb(240, 102, 102);
    border-radius: 5px;
    font-size: calc(1.5vw + 0.5rem);
    text-decoration: none;
    color: whitesmoke;
    position: absolute;
    bottom: 45%;
    right: 45%;
  }
  .project__description--para {
    /* padding: 3rem; */
    width: 100vw;
    height: 20vh;
    font-size: 1rem;

    color: #1d1b26;
    position: absolute;
    bottom: 30%;
    left: -3%;
  }
}
@media screen and (max-width: 450px) {
  .project__description--heading {
    font-size: 7vw;
    position: absolute;
    padding: 0rem 3rem 1.5rem;
    color: #1d1b26;
    letter-spacing: 3px;
    font-family: "Kaisei Tokumin", serif;
    /* margin-bottom: 4rem; */
    width: 100%;
    top: -5%;
    left: 0%;
  }
  .live-button__project {
    right: 40%;
  }
  .project__description--para {
    bottom: 30%;
    left: -3%;
  }
}
