div.hamburger {
  width: 4rem;
  height: 4rem;
  background-color: brown;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  cursor: pointer;
  position: fixed;
  top: 3rem;
  right: 3rem;
  /* display: none; */
}
.line {
  width: 100%;
  border-radius: 2px;
  height: 0.4rem;
  background-color: white;
}
