/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
/* Main Stylings */
.hw-container {
  background-color: rgba(108, 200, 241, 1);
  /* padding-top: 10rem; */
}
.hw-svg {
  width: 100%;
  /* height: 80%; */
}
.star-hw {
  opacity: 0;
}
.but-hw__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.but-hw {
  color: white;
  font-size: calc(1rem + 1vw);
  text-align: center;
  opacity: 1;
  font-family: "Indie Flower", cursive;
  letter-spacing: 1px;
}
.para-five {
  color: white;
  font-size: calc(2vw + 4px);
  text-align: center;
  background-color: rgba(56, 74, 112, 0.5);
  margin-bottom: 0.5rem;
}
.description--journey-five {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
  transform: translateY(-300px);
}
@media screen and (max-width: 750px) {
  .hw-container {
    background-color: rgba(108, 200, 241, 1);
    padding-top: 40rem;
  }
  .hw-svg {
    transform: scale(2) translateX(-100px);
  }
}
